{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Blog{% endblock %}

{% block content %}
    <div class="col-md-8">
        {% for postcontent in posts %}
            {{ include('AppBundle:Post:_post.html.twig', { post: postcontent }) }}
        {% endfor %}
    </div>
    <div class="col-md-4">
        {{ include('AppBundle:Post:_sidebar.html.twig', { latestPosts: latestPosts, categories: categories }) }}
    </div>
{% endblock %}